<div class="col-md-12 mt-3 text-center">
  <div>
    <h1>{{page_title}}</h1>
  </div>
  <p *ngIf="status!='success'">
	  Modifica tus datos personales de usuario
  </p>
  <hr>

  <div class="alert alert-success col-md-5 my-3 mx-auto" *ngIf="status=='success'">
    ¡Los datos se han actualizado correctamente!
  </div>
  <div class="alert alert-danger col-md-5 my-3 mx-auto" *ngIf="status=='error'">
    ¡Los datos no se han actualizado!
  </div>
  <!-- Formulario de ajustes -->
  <form class="col-md-5 ml-0 pl-0 mx-auto" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)"><!--Creamos un formulario de Angular-->
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ñ]+">
      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es valido
      </small>
    </div>

    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ñ]+">
      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no es valido
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El correo eléctronico no es valido
      </small>
    </div>

    <div class="form-group">
      <label for="description">Biografía</label>
      <textarea [froalaEditor]="floala_options" name="description" class="form-control" #description="ngModel" [(ngModel)]="user.description">
        {{user.description}}
      </textarea>
    </div>

    <div class="form-group">
      <label for="image">Avatar</label>
      <div *ngIf="identity && identity.image">
        <img src="{{url+'user/avatar/'+identity.image}}" class="avatar_edit my-1">
      </div>
      <hr>
      <angular-file-uploader
      [config]="afuConfig"
      (ApiResponse)="avatarUpload($event)">
      </angular-file-uploader>
    </div>

    <input type="submit" value="Guardar cambios" class="btn btn-success d-block w-100" [disabled]="userEditForm.invalid">
  </form>
  <div class="my-3">
</div>
